<% was_validated = comment.errors.any? %>

<%= form_with(model: comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = comment.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment %>
    <%= f.text_area :comment, class: comment_class, placeholder: "Enter comment" %>
    <% if comment_was_invalid %>
      <% comment.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% post_class = "form-control" %>
    <% post_was_invalid = comment.errors.include?(:post) %>

    <% if was_validated %>
      <% if post_was_invalid %>
        <% post_class << " is-invalid" %>
      <% else %>
        <% post_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :post_id %>
    <%= f.collection_select :post_id, Post.all, :id, :to_s, {}, class: "form-control" %>
    <% if post_was_invalid %>
      <% comment.errors.full_messages_for(:post).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = comment.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% comment.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
