<% was_validated = like.errors.any? %>

<%= form_with(model: like, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for post_id start -->
  <div class="form-group">
    <% post_class = "form-control" %>
    <% post_was_invalid = like.errors.include?(:post) %>

    <% if was_validated %>
      <% if post_was_invalid %>
        <% post_class << " is-invalid" %>
      <% else %>
        <% post_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :post_id %>
    <!-- Input for post_id start -->
    <%= f.number_field :post_id, class: post_class, placeholder: "Enter post" %>
    <!-- Input for post_id end -->
    <% if post_was_invalid %>
      <% like.errors.full_messages_for(:post).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for post_id end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = like.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% like.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
