<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for username start -->
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <!-- Input for username start -->
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <!-- Input for username end -->
    <% if username_was_invalid %>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for username end -->
  <!-- Label and input for email start -->
  <div class="form-group">
    <% email_class = "form-control" %>
    <% email_was_invalid = user.errors.include?(:email) %>

    <% if was_validated %>
      <% if email_was_invalid %>
        <% email_class << " is-invalid" %>
      <% else %>
        <% email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email %>
    <!-- Input for email start -->
    <%= f.text_field :email, class: email_class, placeholder: "Enter email" %>
    <!-- Input for email end -->
    <% if email_was_invalid %>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for email end -->
  <!-- Label and input for password start -->
  <div class="form-group">
    <% password_class = "form-control" %>
    <% password_was_invalid = user.errors.include?(:password) %>

    <% if was_validated %>
      <% if password_was_invalid %>
        <% password_class << " is-invalid" %>
      <% else %>
        <% password_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :password %>
    <!-- Input for password start -->
    <%= f.text_field :password, class: password_class, placeholder: "Enter password" %>
    <!-- Input for password end -->
    <% if password_was_invalid %>
      <% user.errors.full_messages_for(:password).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for password end -->
  <!-- Label and input for posts_count start -->
  <div class="form-group">
    <% posts_count_class = "form-control" %>
    <% posts_count_was_invalid = user.errors.include?(:posts_count) %>

    <% if was_validated %>
      <% if posts_count_was_invalid %>
        <% posts_count_class << " is-invalid" %>
      <% else %>
        <% posts_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :posts_count %>
    <!-- Input for posts_count start -->
    <%= f.number_field :posts_count, class: posts_count_class, placeholder: "Enter posts count" %>
    <!-- Input for posts_count end -->
    <% if posts_count_was_invalid %>
      <% user.errors.full_messages_for(:posts_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for posts_count end -->
  <!-- Label and input for followers_count start -->
  <div class="form-group">
    <% followers_count_class = "form-control" %>
    <% followers_count_was_invalid = user.errors.include?(:followers_count) %>

    <% if was_validated %>
      <% if followers_count_was_invalid %>
        <% followers_count_class << " is-invalid" %>
      <% else %>
        <% followers_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :followers_count %>
    <!-- Input for followers_count start -->
    <%= f.number_field :followers_count, class: followers_count_class, placeholder: "Enter followers count" %>
    <!-- Input for followers_count end -->
    <% if followers_count_was_invalid %>
      <% user.errors.full_messages_for(:followers_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for followers_count end -->
  <!-- Label and input for following_count start -->
  <div class="form-group">
    <% following_count_class = "form-control" %>
    <% following_count_was_invalid = user.errors.include?(:following_count) %>

    <% if was_validated %>
      <% if following_count_was_invalid %>
        <% following_count_class << " is-invalid" %>
      <% else %>
        <% following_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :following_count %>
    <!-- Input for following_count start -->
    <%= f.number_field :following_count, class: following_count_class, placeholder: "Enter following count" %>
    <!-- Input for following_count end -->
    <% if following_count_was_invalid %>
      <% user.errors.full_messages_for(:following_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for following_count end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
