<%= form_with(model: @post, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create post", class: "btn btn-block btn-outline-secondary" %>
<% end %>
